[init]
	defaultBranch = main

[pull]
	ff = only

[fetch]
	prune = true

[color]
	ui = auto

[core]
	pager = less -FRX

[alias]
	st = status -sb
	co = checkout
	br = branch
	ci = commit
	aa = add --all
	last = log -1 HEAD --stat
	lg = log --graph --decorate --oneline --all
	tree = log --graph --decorate --oneline --all
